<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/estilo.css')}}"/>

    <title>Página Inicial</title>
</head>
<body>
        <a href="soma"><button type="submit">Página Somar</button></a><br><br>
        <a href="subtracao"><button type="submit">Página Subtrair</button></a><br><br>  
        <a href="divisao"><button type="submit">Página Dividir</button></a><br><br>
        <a href="multiplicacao"><button type="submit">Página Multiplicação</button></a><br><br>
        <a href="potencia"><button type="submit">Página Potencia</button></a><br><br>   
        <a href="raiz"><button type="submit">Página Raiz</button></a><br><br>  
        <a href="tabuada"><button type="submit">Página tabuada</button></a><br><br>             
    </form>
</body>
</html>